@using Microsoft.AspNetCore.Localization
@using System.Web.Optimization

@{
    ViewData["Title"] = "Home Page";

    List<TaskManagement.Models.TaskNode> model = ViewBag.TaskNodeRecursivePartial;
}

<a class="detail-button add-button" data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
   asp-action="AddTaskNodeShow" asp-controller="Home">
    <img src="~/img/add.png" />
</a>
<a class="detail-button refresh-buttor" id="refresher"
   data-ajax="true" data-ajax-update="#task-explorer" data-ajax-mode="replace"
   asp-action="RefreshTaskExplorer" asp-controller="Home">
    <img src="~/img/refresh.png" />
</a>

<div class="main-grid">
    <div id="task-explorer">
        @Html.Partial("TaskNodeRecursiveCyclePartial", model)
    </div>

    <form id="task-viewer" method="post"
          data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
          data-ajax-complete="refresh"
          asp-action="EditTaskNodeDetailsSave" asp-controller="Home">
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        refresh = function () {
            document.getElementById("refresher").click();
        };
    </script>
}
