@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";

    List<TaskManagement.Models.TaskNode> model = ViewBag.TaskNodeRecursivePartial;

    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}


<span class="header-button">
    <span>
        <a class="detail-button add-button" data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
           asp-action="AddTaskNodeShow" asp-controller="Home">
            <img src="~/img/add.png" />
        </a>
        <a class="detail-button refresh-buttor" id="refresher"
           data-ajax="true" data-ajax-update="#task-explorer" data-ajax-mode="replace"
           asp-action="RefreshTaskExplorer" asp-controller="Home">
            <img src="~/img/refresh.png" />
        </a>
    </span>
    <span>
        <a class="detail-button lang-button" id="refresher"
        
           asp-action="SetLanguage" asp-controller="Home"
           asp-route-returnUrl="@Context.Request.Path"
           asp-route-culture="en">
            <img src="~/img/en.png" />
        </a>
        <a class="detail-button lang-button" id="refresher"
 
           asp-action="SetLanguage" asp-controller="Home"
           asp-route-returnUrl="@Context.Request.Path"
           asp-route-culture="ru">
            <img src="~/img/ru.png" />
        </a>
    </span>
</span>




<div class="main-grid">
    <div id="task-explorer">
        @Html.Partial("TaskNodeRecursiveCyclePartial", model)
    </div>

    <form id="task-viewer" method="post"
          data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
          data-ajax-complete="refresh"
          asp-action="EditTaskNodeDetailsSave" asp-controller="Home">
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        refresh = function () {
            document.getElementById("refresher").click();
        };

        //эта функция обновляет дерево каждые 5 секунд
        $(document).ready(
            setInterval(function () {
                document.getElementById("refresher").click();
            }, 5000)
        );

        //эта функция обновляет форму отображения задачи 5,005 секунд
        $(document).ready(
            setInterval(function () {
                if (document.getElementById("taskid")) {
                    var id = document.getElementById("taskid").innerHTML;
                    document.getElementById("task"+id).click();
                }
            }, 5005)
        );
    </script>
}
