@{
    ViewData["Title"] = "Home Page";

    List<TaskManagement.Models.TaskNode> model = ViewBag.TaskNodeRecursive; /*вот оно*/
}

<div class="main-grid">
    <div id="task-explorer" class="left-area">
        @foreach (TaskNode taskNode in model)
        {
            @if (taskNode.Parent != null)
                continue;

            @Html.Partial("TaskNodeRecursive", taskNode)            
        }
    </div>

    <div class="right-area">
        area
    </div>
</div>