#task-explorer {
  width: 240px;
  overflow-x: scroll;
  overflow-y: auto;
  border: 1px solid #212121;
}
#task-explorer .task {
  display: block;
  position: relative;
  min-height: 30px;
  width: auto;
  border-radius: 5px;
  margin-top: 1px;
  padding-left: 5px;
}
#task-explorer .task .task-info {
  display: inline-flex;
  height: 30px;
}
#task-explorer .task .task-info > * {
  flex: 0 0 auto;
}
#task-explorer .task .task-info .collapse-button {
  visibility: hidden;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  background: #e0e0e0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 5px;
  margin-left: 0;
  font-size: 12px;
  transition: 0.2s;
}
#task-explorer .task .task-info .collapse-button:hover {
  cursor: pointer;
  background: #c9c9c9;
}
#task-explorer .task .task-info .task-index {
  display: none;
}
#task-explorer .task .task-info .task-title {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  color: unset;
}
#task-explorer .task .task-info .task-title:hover {
  border-bottom: 1px solid red;
  text-decoration: none;
  color: unset;
}
#task-explorer .task.subbed > .task-info > .collapse-button {
  visibility: visible;
}
#task-explorer .task.subbed .task > * {
  margin-left: 15px;
}
#task-explorer .task-main {
  margin-top: 10px;
}
#task-viewer {
  width: calc(100% - 255px);
  margin-left: 10px;
  overflow-y: auto;
  border: 1px solid #212121;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
#task-viewer .detail-unchanging {
  color: #7d7d7d;
}
#task-viewer .detail-input {
  width: 100%;
}
#task-viewer .detail-input-small {
  width: 50px;
}
#task-viewer .detail-save-button {
  align-self: center;
  width: 80%;
  margin: 14px;
}
#task-viewer .detail-execute-button {
  padding-left: 14px;
}
#task-viewer .detail-suspend-button {
  padding-left: 18px;
}
#task-viewer .detail-complete-button {
  padding-left: 38px;
}
#task-viewer .detail-remove-button {
  padding-left: 38px;
}
#task-viewer .detail-edit-button {
  padding-left: 18px;
}
#task-viewer .detail-button-unable {
  line-height: 30px;
  display: inline-flex;
  opacity: 0.4;
  cursor: default;
}
#task-viewer .detail-button-unable:hover {
  text-decoration: none;
  color: unset;
}
#task-viewer > *:nth-child(n+4) {
  padding-left: 16px;
  margin: 5px;
}
#task-viewer .detail-title {
  font-size: 2.2em;
  border-bottom: 1px solid;
  margin: 5px;
  line-height: 100%;
}
#task-viewer .detail-description {
  margin: 5px;
}
#task-viewer .detail-date-register {
  color: #7d7d7d;
  font-size: 11px;
  margin: 0 5px 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}
#task-viewer .detail-state {
  display: inline-flex;
  align-items: center;
}
#task-viewer .detail-state .detail-state-button-execute {
  padding-left: 6px;
}
#task-viewer .detail-state .detail-state-button-complete {
  padding-left: 12px;
}
#task-viewer .detail-date-complete {
  border-top: 1px solid red;
}
.main-grid {
  height: 70vh;
  display: flex;
}
.detail-button:hover {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
.refresh-buttor {
  padding-left: 18px;
  padding-bottom: 5px;
}
.add-button {
  padding-bottom: 5px;
}
.detail-hide {
  display: none;
}
/*.right-area {
    width: 100%;
}*/
