@model TaskManagement.Models.TaskNode


<li>
    @Model.Title
    @if (Model.ChildrenList != null && Model.ChildrenList.Count > 0)
    { 
        <ul>
            @foreach (var item in @Model.ChildrenList)
            {
                @Html.Partial("TaskNodeRecursive", item);
            }
        </ul>
    }
     
</li>
    